﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var repos = SpareSite1.Core.GithubHelper.GetRepositories("umbraco");
}

<h1>Hello!</h1>

<p>This is a website you can visit.</p>

@foreach (var repo in repos)
{
    <h1>@repo.FullName</h1>
    <p>@repo.Description</p>
}